@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Awesome Courses</h1>
    <p class="lead">Find and Take Awesome courses with Brian from Major Guidance Solutions</p>
    <p><a href="http://majorguidancesolutions.com/courses" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/MVC48Hours.png" style="max-width:100%;"/>
        <h2>Create a public-facing website with ASP.Net MVC in 48 hours</h2>
        <p>
            This course teaches you how to get started with ASP.Net and setup a public-facing website that allows for creation, editing, and listing of contact information.
        </p>
        <p><a class="btn btn-default" href="http://majorguidancesolutions.com/courses/details/6">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/BootstrapUI.jpg" style="max-width:100%;"/>
        <h2>Bootstrap UI for everyone</h2>
        <p>This course teaches you the practical aspects of the Bootstrap UI Framework</p>
        <p><a class="btn btn-default" href="http://majorguidancesolutions.com/courses/details/5">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/IntroToJava.jpg" style="max-width:100%;"/>
        <h2>Introduction To Java Programming</h2>
        <p>This course teaches object-oriented programming using Java</p>
        <p><a class="btn btn-default" href="http://majorguidancesolutions.com/courses/details/4">Learn more &raquo;</a></p>
    </div>
</div>