<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locatorkey="Match(name)" key="AppId" value="-------------" />
    <add xdt:Transform="SetAttributes" xdt:Locatorkey="Match(name)" key="AppSecret" value="-------------" />
  </appSettings>
  <connectionStrings>
    <add name="ContactWebContext"
         connectionString="Server=asdf;Database=qwer;User Id=zyxc;Password=pwd;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locatorkey="Match(name)"  />
    
    <add name="DefaultConnection"  
         connectionString="Server=asdf;Database=qwer;User Id=zyxc;Password=pwd;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locatorkey="Match(name)"  />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
