<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AppId" value="-------------" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AppSecret" value="-------------" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ContactWebSendgridKey" value="SG.------------------"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EmailFrom" value="brian@awesomecontactmanager.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EmailFormalFromName" value="Brian Gorman"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EmailToOverride" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ContactWebContext"
         connectionString="Server=asdf;Database=qwer;User Id=zyxc;Password=pwd;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
    
    <add name="DefaultConnection"  
         connectionString="Server=asdf;Database=qwer;User Id=zyxc;Password=pwd;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />

    <add name="Elmah"
         connectionString="Server=asdf;Database=qwer;User Id=zyxc;Password=pwd;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" applicationName="ContactWeb - Production" />
  </elmah>

</configuration>
